.App {
  padding: 0 20px 20px 20px;

  .navbar {
    padding-top: 0px;
  }

  ul {
    list-style: none;
    padding-left: 0px;
  }

  li {
    background-color: rgb(216, 216, 216);
    padding: 15px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .icon_holder {
    display: flex;
  }

  .cell-width {
    width: 200px;
  }
}
